@import '../../styles/mixins';

.button {
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    height: 44px;
    border-radius: 4px;
    transition: 0.2s;
    //@include h3-text-size;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
}

// стандартная

.primary {
    color: var(--light-100);
    background-color: #5558FA;

    &:hover {
        background-color: var(--primary-100);
    }

    &:disabled {
        background-color: var(--primary-900);
        color: var(--light-900);
    }

    &:active {
        outline: none;
        background-color: var(--primary-700);
        color: var(--light-500);
    }

    &:focus {
        outline: solid var(--primary-700) 1px;
    }
}

// прозрачная

.outline {
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
    background: none;

    &:hover {
        border: 1px solid var(--primary-100);
        color: var(--primary-100);
    }

    &:disabled {
        border: 1px solid var(--primary-900);
        color: var(--primary-900);
    }

    &:active {
        border: 1px solid var(--primary-700);
        color: var(--primary-700);
    }

    &:focus {
        outline: solid var(--primary-700) 1px;
    }
}
