@import '../../shared/styles/mixins';

.main_mainBox {
    .container {
        width: 1400px;
        display: flex;
        justify-content: center;
        //border: 1px solid black;

        .main_mainForm {
            width: 900px;
            height: 704px;
            background-color: var(--form-bg-color);
            margin-top: var(--default-padding);
            padding: 0 var(--default-padding) var(--default-padding);

            .mainForm_header {
                height: 129px;
                border-bottom: 2px solid var(--default-gray-color-light);
                display: flex;
                align-items: center;
                gap: var(--default-padding);

                .header_info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .header_infoName {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 26px;
                        margin-bottom: 8px;
                    }
                    .header_infoContacts {
                        display: flex;
                        gap: 18px;

                        .contactItem {
                            display: flex;
                            gap: 5px;

                            .contactItem_icon {

                            }
                            .contactItem_link {
                                color: #5558FA;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .mainForm_form {
                margin-top: var(--default-padding);
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .form_phone {
                    margin-bottom: var(--default-padding);
                }
                .form_email {
                    margin-bottom: calc(2 * var(--default-padding));
                }
            }
        }
    }
}