.inputWrapper {
    width: 100%;
}

.customInput {
    //width: 100%;
    width: 400px;
    height: 44px;
    background-color: var(--default-gray-color-light);
    border: 2px solid var(--default-gray-color-medium);
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    color: var(--default-gray-color-dark);
    opacity: 0.7;
}
.customInput:focus-visible {
    border: 2px solid var(--default-gray-color-medium);
    outline: none;
    opacity: 1;
}
.customInput::placeholder {
    color: var(--default-gray-color-dark);
    //opacity: 0.7;
}
.customInput:hover {
    opacity: 1;
}

.placeholder_title {
    margin-bottom: 8px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

// стили для ошибок
.errorWrapper {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
    color: red;
}
.errorHelperText {
    composes: errorWrapper;
}
.error {
    color: red;
    height: 20px;
}
.error:focus-visible {

}
.errorInput {
    border: 1px solid red;
    outline: none;
}
.errorInput:focus-visible {
    border: 1px solid red;
}