@import '../../styles/mixins';

.inputWrapper {
    width: 100%;
    height: 100px;
}

.customInput {
    display: flex;
    align-items: center;
    //width: 300px;
    width: 100%;
    max-width: 300px;
    height: 44px;
    background-color: var(--default-gray-color-light);
    border: 2px solid var(--default-gray-color-medium);
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    //color: var(--default-gray-color-dark);
    color: black;
    opacity: 0.7;
    overflow: hidden;

    &:hover {
        cursor: text;
    }
}
.customInput:focus-visible {
    border: 2px solid var(--default-gray-color-medium);
    outline: none;
    opacity: 1;
}
.customInput::placeholder {
    color: var(--default-gray-color-dark);
}
.customInput:hover {
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--default-gray-color-dark);
}

// плейсхолдер
.placeholder_title {
    margin-bottom: 8px;
    text-align: left;
    @include small-text-14;
}

// стили для ошибок
.errorWrapper {
    text-align: left;
    padding-top: 5px;
    font-size: 14px;
    color: red;
}
.errorHelperText {
    composes: errorWrapper;
}
.error {
    color: red;
    height: 20px;
}
.error:focus-visible {

}
.errorInput {
    border: 1px solid red;
    outline: none;
}
.errorInput:focus-visible {
    border: 1px solid red;
}