.formPageStepTwo {
    .advantages {
        .added_input {
            margin-bottom: 5px;
        }
        .add_advantage {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: var(--default-padding);

            .add_button {

            }
        }

    }

    .formPage_form {
        .checkboxGroup {
            > div:not(:last-child) {
                margin-bottom: 5px;
            }

            margin-bottom: var(--default-padding);
        }
        .radioGroup {
            > div:not(:last-child) {
                margin-bottom: 5px;
            }

            margin-bottom: calc(var(--default-padding) * 2);
        }
        .buttonsBlock {
            display: flex;
            justify-content: space-between;
        }
    }
}