@import '../../shared/styles/mixins';

.formPage_mainBox {
    .container {
        width: 1400px;
        display: flex;
        justify-content: center;

        .formPage_card {
            width: 900px;
            height: 821px;
            background-color: var(--form-bg-color);
            border-radius: 24px;
            margin-top: var(--default-padding);
            padding: 66px 110px 80px 110px;

            .formPage_steps {
                margin-bottom: 100px;
            }

            .formPage_form {
                //margin-top: var(--default-padding);
                //display: flex;
                //flex-direction: column;
                //align-items: flex-start;
                //
                //.form_phone {
                //    margin-bottom: var(--default-padding);
                //}
                //.form_email {
                //    margin-bottom: calc(2 * var(--default-padding));
                //}
            }
        }
    }
}