.formPage_mainBox {
    .container {
        width: 1400px;
        display: flex;
        justify-content: center;

        .formPage_card {
            width: 900px;
            height: 100%;
            background-color: var(--form-bg-color);
            border-radius: 24px;
            margin-top: var(--default-padding);
            padding: 66px 110px 80px 110px;

            .formPage_steps {
                margin-bottom: 100px;
            }

            //.formPage_form {
            //    > div:not(:last-child) {
            //        margin-bottom: calc(var(--default-padding) * 2);
            //    }
            //
            //    .form_nickname {
            //
            //    }
            //    .form_name {
            //
            //    }
            //    .form_sername {
            //
            //    }
            //    .form_sex {
            //        margin-bottom: 88px !important;
            //    }
            //
            //    .buttonsBlock {
            //        display: flex;
            //        justify-content: space-between;
            //    }
            //}
        }
    }
}