@import '../../../shared/styles/mixins';

.formPage_form {
    > div:not(:last-child) {
        margin-bottom: calc(var(--default-padding) * 2);
    }

    .about_textarea {
        width: 100%;
        height: 165px;

        textarea {
            width: 100%;
        }

        .textarea_length {
            @include small-text-12;
            text-align: right;
        }
    }

    .buttonsBlock {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media(max-width: 370px) {
            flex-wrap: wrap;

            .button_back3 {

            }
            .button_send {
                width: 100%;
            }

            > div {
                button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}