@import '../../shared/styles/mixins';

.messageModal_mainBox {
    @include defaultModalStyle;

    .messageModalSuccess {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .messageModalSuccess_header {
            width: 100%;
            text-align: center;
            @include h2-text-size;
        }
    }

    .messageModalError {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .messageModalError_header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > div {
                @include h2-text-size;
            }

            .header_cancel {
                &:hover {
                    cursor: pointer;
                    filter: invert(100%);
                }
            }
        }
        .messageModalError_button {
            align-self: flex-end;
        }
    }
}