.formPage_form {
    > div:not(:last-child) {
        margin-bottom: calc(var(--default-padding) * 2);
    }

    //.form_nickname {
    //
    //}
    //
    //.form_name {
    //
    //}
    //
    //.form_surname {
    //
    //}

    .form_sex {
        margin-bottom: 88px !important;
    }

    .buttonsBlock {
        display: flex;
        justify-content: space-between;
    }
}